@media screen and (max-width: 600px) {
    body {
        background-image: url("/img/222.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    a {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    .navbar {
        display: none;
    }
    .container {
        width: 60%;
    }
    #syn {
        font-size: 20vw;
        text-shadow: 30px 20px 20px rgba(0, 0, 0, 0.372);
    }
    .img {
        width: 10vw;
        padding-top: 20px;
    }
    .footer {
        position: fixed;
        bottom: 0;
        width: 100vw;
    }
}

@media screen and (min-width: 600px) {
    body {
        background-image: url("/img/pexels-photo-2078071.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    a {
        text-decoration: none;
        color: black;
    }
    a:hover {
        color: white
    }
    #navbar-m {
        display: none;
    }
    .container {
        width: 60%;
    }
    #syn {
        font-size: 10vw;
        text-shadow: 30px 20px 20px rgba(0, 0, 0, 0.372);
    }
    .img {
        width: 10vw;
        
    }
    svg:hover {
        transition: all 0.3s;
        width: 30px;
        height: 30px;
    }
    .footer {
        bottom: 0;
        width: 100vw;
    }
}